*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    background-color: #000000;
    padding: 12px 100px;
}
header h1{
    width: 70px;
    height: 70px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-indent: -999999px;
}
header h1 a{
    display: block;
    width: 5px;
    height: 18px;
}
header ul{
    width: 271px;
}
header ul a{
    color: #ffffff;
    padding: 5px ;
    font-size: 18px;
}
header.flex{
    justify-content: flex-start;
}
main{
    padding: 50px 100px;
}
h2{
    font-size: 24px;
}
.statia{
    width: 300px;
    margin-bottom: 22px;
}
.statia article{
    width: 100%;
    height: 244px;
    border:  1px solid #000000;
    padding:  145px 12px 50px 12px;
    position: relative;
    background-image: url(../img/sound.png);
    background-repeat: repeat-x;
    background-size: 25%;
    background-position-y: 58px;
    transition: 0.5s;
    margin-top: 51px;
}
.statia h3{
    font-size: 18px;
}
.statia p{
    font-size: 14px;
    margin-top: 13px;
}
.like{
    width: 50px;
    height: 50px;
    background-image: url(../img/like.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: -3px;
    right: 0;
    transition: 0.5s;
}
.statia p a{
    color: #000000;
    font-size: 12px;
    transition: 0.5s;
    border-bottom: 1px solid #000000;
}
.like:hover{
    background-image: url(../img/like\ 2.png);
    cursor: pointer;
}
.statia:hover article{
    box-shadow: 0 0 5px #000000;
}
.statia:hover p a{
    border-bottom: 1px solid #000000;
}
footer{
    background-color: #000000;
    padding: 27px 0 17px 0;
    color: #ffffff;
    text-align: center;
}
footer a{
    color: #ffffff;
}
footer img{
    width: 150px;
}
footer nav{
    margin: 26px 0 50px 0;
}
.social{
    width: 50px;
    height: 100px;
    position: fixed;
    right: 0;
    top: 213px;
}
.item{
    width: 100%;
    height: 50%;
}
.fb{
    background-image: url(../img/fb\ 1.png);
    background-size: 100%;
}
.insta{
    background-image: url(../img/instagram\ 1.png);
    background-size: 100%;
}
.fb:hover{
    background-image: url(../img/facebook.png);
}
.insta:hover{
    background-image: url(../img/instagram.png);
}
.fb a, .insta a{
    display: block;
    width: 100%;
    height: 100%;
}